.ltcon-border {
  border: 5px solid #FFFFFF;
  background: #FFFFFF;
  box-shadow: 0 0 4px #CCCCCC;
}

.ltcon-group:after {
  content: '';
  display: block;
  clear: both;
}

.ltcon-hidden {
  display: none;
}

.ltcon-text-right {
  text-align: right;
}

.ltcon-ui {
  margin-top: 12px;
  overflow: hidden;
  font-size: 13px;
}
.ltcon-ui img {
  max-width: 100%;
  height: auto;
}
.ltcon-ui .inner-wrap {
  margin-left: 210px;
}
.ltcon-ui .sidebar {
  width: 210px;
  margin-left: -210px;
  float: left;
  background: #222222;
  padding-bottom: 9999px;
  margin-bottom: -9999px;
}
.ltcon-ui .sidebar .panel.logo {
  padding: 20px;
  border-bottom: 3px solid #444444;
  border-top: 3px solid #444444;
}
.ltcon-ui .sidebar .panel.logo .logo-inner {
  padding: 10px;
  background: #FFFFFF;
}
.ltcon-ui .sidebar .navigation {
  padding: 0;
}
.ltcon-ui .sidebar .navigation li {
  margin: 0;
}
.ltcon-ui .sidebar .navigation li a {
  display: block;
  text-decoration: none;
}
.ltcon-ui .sidebar .navigation li a .glyphicon {
  top: 2px;
  margin-right: 10px;
  color: #BBBBBB;
}
.ltcon-ui .sidebar .navigation li a:active {
  outline: none;
}
.ltcon-ui .sidebar .navigation > li {
  list-style: none;
}
.ltcon-ui .sidebar .navigation > li > a {
  font-weight: bold;
  color: #FFFFFF;
  padding: 8px 12px;
}
.ltcon-ui .sidebar .navigation > li > a.active, .ltcon-ui .sidebar .navigation > li > a.active:hover {
  background: #0074a2;
}
.ltcon-ui .sidebar .navigation > li > a.active .glyphicon, .ltcon-ui .sidebar .navigation > li > a.active:hover .glyphicon {
  color: #FFFFFF;
}
.ltcon-ui .sidebar .navigation > li > a:hover {
  background: #151515;
}
.ltcon-ui .sidebar .navigation ul {
  background: #333333;
  padding: 6px 0;
}
.ltcon-ui .sidebar .navigation ul li a {
  padding: 6px 12px;
  color: #BBBBBB;
}
.ltcon-ui .sidebar .navigation ul li a.active {
  color: #FFFFFF;
  font-weight: bold;
}
.ltcon-ui .sidebar .navigation ul li a:hover {
  background: #404040;
}
.ltcon-ui .main {
  width: 100%;
  float: right;
}
.ltcon-ui .main h3 {
  padding: 20px;
  background: #EEEEEE;
  margin: 0;
}
.ltcon-ui .tab-inner {
  padding: 20px;
}
.ltcon-ui .form-table, .ltcon-ui .ltcon-table {
  width: 100%;
}
.ltcon-ui .form-table > thead > tr > th, .ltcon-ui .form-table > thead > tr > td, .ltcon-ui .form-table > tbody > tr > th, .ltcon-ui .form-table > tbody > tr > td, .ltcon-ui .ltcon-table > thead > tr > th, .ltcon-ui .ltcon-table > thead > tr > td, .ltcon-ui .ltcon-table > tbody > tr > th, .ltcon-ui .ltcon-table > tbody > tr > td {
  margin: 0;
  border-bottom: 1px solid #E6E5E3;
  text-align: left;
}
.ltcon-ui .form-table > thead > tr > th, .ltcon-ui .form-table > tbody > tr > th, .ltcon-ui .ltcon-table > thead > tr > th, .ltcon-ui .ltcon-table > tbody > tr > th {
  padding: 25px 15px 25px 0;
  color: #222222;
  font-weight: 600;
  font-size: 14px;
  width: 200px;
}
.ltcon-ui .form-table > thead > tr > th, .ltcon-ui .form-table > thead > tr > th label, .ltcon-ui .form-table > tbody > tr > th, .ltcon-ui .form-table > tbody > tr > th label, .ltcon-ui .ltcon-table > thead > tr > th, .ltcon-ui .ltcon-table > thead > tr > th label, .ltcon-ui .ltcon-table > tbody > tr > th, .ltcon-ui .ltcon-table > tbody > tr > th label {
  vertical-align: top;
}
.ltcon-ui .form-table > thead > tr > td, .ltcon-ui .form-table > tbody > tr > td, .ltcon-ui .ltcon-table > thead > tr > td, .ltcon-ui .ltcon-table > tbody > tr > td {
  padding: 25px 0 25px;
}
.ltcon-ui .ltcon-table {
  border: 1px solid #dad8d6;
  background: #FFFFFF;
  border-collapse: collapse;
  margin-bottom: 10px;
}
.ltcon-ui .ltcon-table > thead > tr > th, .ltcon-ui .ltcon-table > thead > tr > td, .ltcon-ui .ltcon-table > tbody > tr > th, .ltcon-ui .ltcon-table > tbody > tr > td {
  padding: 8px;
  width: auto;
}
.ltcon-ui .ltcon-table > thead > tr {
  background-color: #F3F3F3;
}
.ltcon-ui .ltcon-table > thead > tr > th:first-child {
  width: 100px;
}
.ltcon-ui .ltcon-table > thead > tr > th:last-child {
  width: 150px;
}
.ltcon-ui .ltcon-table > thead > tr > th {
  border-bottom-width: 2px;
}
.ltcon-ui .ltcon-table > tbody > tr > td:first-child {
  width: 100px;
  font-size: inherit;
}
.ltcon-ui .ltcon-table > tbody > tr > td:last-child {
  width: 150px;
}
.ltcon-ui .ltcon-table > tbody > tr > td:last-child select {
  width: 100%;
}
.ltcon-ui .ltcon-table > tbody > tr:last-child > td, .ltcon-ui .ltcon-table > tbody > tr:last-child > th {
  border-bottom: none;
}
.ltcon-ui .ltcon-table > tbody > tr.ui-sortable-helper {
  background-color: #F6F6F6;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}
.ltcon-ui .ltcon-table > tbody > tr:nth-child(even) {
  background-color: #F9F9F9;
}
.ltcon-ui .table-sortable > tbody > tr > td, .ltcon-ui .table-sortable > tbody > tr > th {
  cursor: move;
}
.ltcon-ui .field.text, .ltcon-ui .field.textarea, .ltcon-ui .field input[type="text"], .ltcon-ui .field textarea, .ltcon-ui .field.upload {
  width: 100%;
  padding: 5px 8px 6px;
  line-height: 140%;
  border: 1px solid #CCCCCC;
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.07);
  background: #FFFFFF;
  color: #333333;
  border-radius: 0;
  font-size: 14px;
  margin: 0;
  display: block;
  max-width: 100%;
  min-width: 100%;
}
.ltcon-ui .field.select {
  width: 100%;
}
.ltcon-ui .field.textarea {
  height: 100px;
}
.ltcon-ui .field-colorpicker .field-inner {
  margin-left: 37px;
}
.ltcon-ui .field-colorpicker .swatch {
  margin-left: -37px;
  float: left;
}
.ltcon-ui .field-colorpicker .text.field {
  float: left;
  width: 100%;
}
.ltcon-ui .field-select .styled-select {
  line-height: 140%;
  border: 1px solid #CCCCCC;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.07);
  background: #EEEEEE;
  position: relative;
  box-sizing: border-box;
}
.ltcon-ui .field-select .styled-select:after {
  content: '';
  display: block;
  width: 30px;
  height: 30px;
  background: transparent url(../images/icons/updown_10.png) no-repeat center;
  border-left: 1px solid #D4D3D1;
  position: absolute;
  top: 1px;
  right: 1px;
}
.ltcon-ui .field-select .styled-select select {
  height: 32px;
  cursor: pointer;
  display: block;
  margin: 0;
  padding-left: 10px;
  border: none;
  background: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  font-size: 14px;
  position: relative;
  z-index: 20;
}
.ltcon-ui .footer {
  padding: 25px;
}

.ltcon-widget-colorpicker, .ltcon-widget-upload {
  margin: 1em 0;
}
.ltcon-widget-colorpicker .widefat, .ltcon-widget-upload .widefat {
  clear: none;
}

.ltcon-widget-radio-image label.single-label, .ltcon-ui .field-radio-image label.single-label {
  border: 3px solid #E6E5E3;
  padding: 2px;
  display: inline-block;
  margin: 0 5px 5px 0;
}
.ltcon-widget-radio-image label.single-label:hover, .ltcon-ui .field-radio-image label.single-label:hover {
  border-color: #D4D3D1;
}
.ltcon-widget-radio-image label.single-label.checked, .ltcon-ui .field-radio-image label.single-label.checked {
  border-color: #0074a2;
}
.ltcon-widget-radio-image label.single-label.checked:hover, .ltcon-ui .field-radio-image label.single-label.checked:hover {
  border-color: #0074a2;
}
.ltcon-widget-radio-image img, .ltcon-ui .field-radio-image img {
  display: block;
}
.ltcon-widget-radio-image .radio, .ltcon-ui .field-radio-image .radio {
  display: none;
}

.ltcon-widget-colorpicker .swatch, .ltcon-ui .field-colorpicker .swatch {
  height: 32px;
  width: 32px;
  background: transparent url(../images/colorpicker/select_custom.png) no-repeat;
  cursor: pointer;
  position: relative;
}
.ltcon-widget-colorpicker .swatch div, .ltcon-ui .field-colorpicker .swatch div {
  height: 26px;
  width: 26px;
  background: transparent url(../images/colorpicker/select_custom.png) no-repeat center;
  position: absolute;
  top: 3px;
  left: 3px;
}

.ltcon-widget-colorpicker .field-inner {
  margin-left: 37px;
}
.ltcon-widget-colorpicker .swatch {
  margin-left: -37px;
  float: left;
}
.ltcon-widget-colorpicker .text.field {
  float: left;
  margin-top: 3px;
  width: 100%;
}

.ltcon-widget-upload .button, .ltcon-ui .field-upload .button {
  width: 50px;
  height: 32px;
  border-radius: 0;
  text-indent: -9999px;
  overflow: hidden;
  position: relative;
}
.ltcon-widget-upload .button:after, .ltcon-ui .field-upload .button:after {
  height: 16px;
  content: '';
  display: block;
  position: absolute;
  top: 7px;
}
.ltcon-widget-upload.ltcon-widget-upload .button, .ltcon-ui .field-upload.ltcon-widget-upload .button {
  height: 27px;
}
.ltcon-widget-upload.ltcon-widget-upload .button:after, .ltcon-ui .field-upload.ltcon-widget-upload .button:after {
  top: 4px;
}
.ltcon-widget-upload .btn-remove, .ltcon-ui .field-upload .btn-remove {
  display: none;
}
.ltcon-widget-upload .btn-remove:after, .ltcon-ui .field-upload .btn-remove:after {
  background: transparent url(../images/icons/trash_16.png) no-repeat;
  width: 13px;
  left: 18px;
}
.ltcon-widget-upload .btn-preview, .ltcon-ui .field-upload .btn-preview {
  display: none;
}
.ltcon-widget-upload .btn-preview:after, .ltcon-ui .field-upload .btn-preview:after {
  background: transparent url(../images/icons/magnify_16.png) no-repeat;
  width: 18px;
  left: 15px;
  height: 17px;
  top: 6px;
}
.ltcon-widget-upload .btn-preview.refresh:after, .ltcon-ui .field-upload .btn-preview.refresh:after {
  background: transparent url(../images/icons/refresh_16.png) no-repeat;
  width: 17px;
  top: 7px;
}
.ltcon-widget-upload .btn-upload:after, .ltcon-ui .field-upload .btn-upload:after {
  background: transparent url(../images/icons/upload_16.png) no-repeat;
  width: 16px;
  left: 17px;
}
.ltcon-widget-upload.has-upload .field-inner, .ltcon-widget-upload.has-remove .field-inner, .ltcon-widget-upload.has-preview .field-inner, .ltcon-ui .field-upload.has-upload .field-inner, .ltcon-ui .field-upload.has-remove .field-inner, .ltcon-ui .field-upload.has-preview .field-inner {
  margin-right: 55px;
}
.ltcon-widget-upload.has-upload .button-wrap, .ltcon-widget-upload.has-remove .button-wrap, .ltcon-widget-upload.has-preview .button-wrap, .ltcon-ui .field-upload.has-upload .button-wrap, .ltcon-ui .field-upload.has-remove .button-wrap, .ltcon-ui .field-upload.has-preview .button-wrap {
  margin-right: -55px;
}
.ltcon-widget-upload.has-remove .btn-remove, .ltcon-ui .field-upload.has-remove .btn-remove {
  display: inline-block;
  margin-left: 5px;
}
.ltcon-widget-upload.has-preview .btn-preview, .ltcon-ui .field-upload.has-preview .btn-preview {
  display: inline-block;
  margin-left: 5px;
}
.ltcon-widget-upload.has-upload.has-remove.has-preview .field-inner, .ltcon-ui .field-upload.has-upload.has-remove.has-preview .field-inner {
  margin-right: 165px;
}
.ltcon-widget-upload.has-upload.has-remove.has-preview .button-wrap, .ltcon-ui .field-upload.has-upload.has-remove.has-preview .button-wrap {
  margin-right: -165px;
}
.ltcon-widget-upload.ltcon-widget-upload.has-upload.has-remove.has-preview .field-inner, .ltcon-ui .field-upload.ltcon-widget-upload.has-upload.has-remove.has-preview .field-inner {
  margin-right: 175px;
}
.ltcon-widget-upload.ltcon-widget-upload.has-upload.has-remove.has-preview .button-wrap, .ltcon-ui .field-upload.ltcon-widget-upload.has-upload.has-remove.has-preview .button-wrap {
  margin-right: -175px;
}
.ltcon-widget-upload .button-wrap, .ltcon-ui .field-upload .button-wrap {
  float: right;
}
.ltcon-widget-upload .field.upload, .ltcon-ui .field-upload .field.upload {
  float: left;
}
.ltcon-widget-upload .upload-preview, .ltcon-ui .field-upload .upload-preview {
  position: relative;
  display: block;
}
.ltcon-widget-upload .upload-preview.visible, .ltcon-ui .field-upload .upload-preview.visible {
  display: inline-block;
}
.ltcon-widget-upload .upload-preview .btn-preview-remove, .ltcon-ui .field-upload .upload-preview .btn-preview-remove {
  display: none;
  border: 2px solid #CCCCCC;
  height: 20px;
  width: 20px;
  background: #FFFFFF url(../images/icons/negative_16.png) no-repeat center;
  border-radius: 11px;
  position: absolute;
  top: 12px;
  right: 12px;
  z-index: 20;
  text-indent: -999px;
  overflow: hidden;
}
.ltcon-widget-upload .upload-preview.visible, .ltcon-ui .field-upload .upload-preview.visible {
  margin-top: 10px;
}
.ltcon-widget-upload .upload-preview.visible img, .ltcon-ui .field-upload .upload-preview.visible img {
  display: block;
}
.ltcon-widget-upload .upload-preview.visible .btn-preview-remove, .ltcon-ui .field-upload .upload-preview.visible .btn-preview-remove {
  display: block;
}
.ltcon-widget-upload .upload-preview img, .ltcon-ui .field-upload .upload-preview img {
  border: 6px solid #FFFFFF;
  box-shadow: 0 0 5px #CCCCCC;
  box-sizing: border-box;
  max-width: 100%;
  height: auto;
}

.ltcon-metabox {
  border-bottom: 1px solid #DDDDDD;
  padding-bottom: 12px;
}
.ltcon-metabox .ltcon-metabox-inner {
  margin-left: 160px;
}
.ltcon-metabox .ltcon-metabox-inner > label {
  float: left;
  margin-left: -160px;
  width: 150px;
}
.ltcon-metabox .ltcon-metabox-field {
  width: 100%;
  float: right;
}

#side-sortables .ltcon-metabox .ltcon-metabox-inner {
  margin-left: 0;
}
#side-sortables .ltcon-metabox .ltcon-metabox-inner > label {
  float: none;
  margin-left: 0;
  width: auto;
}
#side-sortables .ltcon-metabox .ltcon-metabox-field {
  width: auto;
  float: none;
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url("../fonts/glyphicons-halflings-regular.eot");
  src: url("../fonts/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/glyphicons-halflings-regular.woff") format("woff"), url("../fonts/glyphicons-halflings-regular.ttf") format("truetype"), url("../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg");
}
.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.glyphicon-asterisk:before {
  content: "\2a";
}

.glyphicon-plus:before {
  content: "\2b";
}

.glyphicon-euro:before {
  content: "\20ac";
}

.glyphicon-minus:before {
  content: "\2212";
}

.glyphicon-cloud:before {
  content: "\2601";
}

.glyphicon-envelope:before {
  content: "\2709";
}

.glyphicon-pencil:before {
  content: "\270f";
}

.glyphicon-glass:before {
  content: "\e001";
}

.glyphicon-music:before {
  content: "\e002";
}

.glyphicon-search:before {
  content: "\e003";
}

.glyphicon-heart:before {
  content: "\e005";
}

.glyphicon-star:before {
  content: "\e006";
}

.glyphicon-star-empty:before {
  content: "\e007";
}

.glyphicon-user:before {
  content: "\e008";
}

.glyphicon-film:before {
  content: "\e009";
}

.glyphicon-th-large:before {
  content: "\e010";
}

.glyphicon-th:before {
  content: "\e011";
}

.glyphicon-th-list:before {
  content: "\e012";
}

.glyphicon-ok:before {
  content: "\e013";
}

.glyphicon-remove:before {
  content: "\e014";
}

.glyphicon-zoom-in:before {
  content: "\e015";
}

.glyphicon-zoom-out:before {
  content: "\e016";
}

.glyphicon-off:before {
  content: "\e017";
}

.glyphicon-signal:before {
  content: "\e018";
}

.glyphicon-cog:before {
  content: "\e019";
}

.glyphicon-trash:before {
  content: "\e020";
}

.glyphicon-home:before {
  content: "\e021";
}

.glyphicon-file:before {
  content: "\e022";
}

.glyphicon-time:before {
  content: "\e023";
}

.glyphicon-road:before {
  content: "\e024";
}

.glyphicon-download-alt:before {
  content: "\e025";
}

.glyphicon-download:before {
  content: "\e026";
}

.glyphicon-upload:before {
  content: "\e027";
}

.glyphicon-inbox:before {
  content: "\e028";
}

.glyphicon-play-circle:before {
  content: "\e029";
}

.glyphicon-repeat:before {
  content: "\e030";
}

.glyphicon-refresh:before {
  content: "\e031";
}

.glyphicon-list-alt:before {
  content: "\e032";
}

.glyphicon-lock:before {
  content: "\e033";
}

.glyphicon-flag:before {
  content: "\e034";
}

.glyphicon-headphones:before {
  content: "\e035";
}

.glyphicon-volume-off:before {
  content: "\e036";
}

.glyphicon-volume-down:before {
  content: "\e037";
}

.glyphicon-volume-up:before {
  content: "\e038";
}

.glyphicon-qrcode:before {
  content: "\e039";
}

.glyphicon-barcode:before {
  content: "\e040";
}

.glyphicon-tag:before {
  content: "\e041";
}

.glyphicon-tags:before {
  content: "\e042";
}

.glyphicon-book:before {
  content: "\e043";
}

.glyphicon-bookmark:before {
  content: "\e044";
}

.glyphicon-print:before {
  content: "\e045";
}

.glyphicon-camera:before {
  content: "\e046";
}

.glyphicon-font:before {
  content: "\e047";
}

.glyphicon-bold:before {
  content: "\e048";
}

.glyphicon-italic:before {
  content: "\e049";
}

.glyphicon-text-height:before {
  content: "\e050";
}

.glyphicon-text-width:before {
  content: "\e051";
}

.glyphicon-align-left:before {
  content: "\e052";
}

.glyphicon-align-center:before {
  content: "\e053";
}

.glyphicon-align-right:before {
  content: "\e054";
}

.glyphicon-align-justify:before {
  content: "\e055";
}

.glyphicon-list:before {
  content: "\e056";
}

.glyphicon-indent-left:before {
  content: "\e057";
}

.glyphicon-indent-right:before {
  content: "\e058";
}

.glyphicon-facetime-video:before {
  content: "\e059";
}

.glyphicon-picture:before {
  content: "\e060";
}

.glyphicon-map-marker:before {
  content: "\e062";
}

.glyphicon-adjust:before {
  content: "\e063";
}

.glyphicon-tint:before {
  content: "\e064";
}

.glyphicon-edit:before {
  content: "\e065";
}

.glyphicon-share:before {
  content: "\e066";
}

.glyphicon-check:before {
  content: "\e067";
}

.glyphicon-move:before {
  content: "\e068";
}

.glyphicon-step-backward:before {
  content: "\e069";
}

.glyphicon-fast-backward:before {
  content: "\e070";
}

.glyphicon-backward:before {
  content: "\e071";
}

.glyphicon-play:before {
  content: "\e072";
}

.glyphicon-pause:before {
  content: "\e073";
}

.glyphicon-stop:before {
  content: "\e074";
}

.glyphicon-forward:before {
  content: "\e075";
}

.glyphicon-fast-forward:before {
  content: "\e076";
}

.glyphicon-step-forward:before {
  content: "\e077";
}

.glyphicon-eject:before {
  content: "\e078";
}

.glyphicon-chevron-left:before {
  content: "\e079";
}

.glyphicon-chevron-right:before {
  content: "\e080";
}

.glyphicon-plus-sign:before {
  content: "\e081";
}

.glyphicon-minus-sign:before {
  content: "\e082";
}

.glyphicon-remove-sign:before {
  content: "\e083";
}

.glyphicon-ok-sign:before {
  content: "\e084";
}

.glyphicon-question-sign:before {
  content: "\e085";
}

.glyphicon-info-sign:before {
  content: "\e086";
}

.glyphicon-screenshot:before {
  content: "\e087";
}

.glyphicon-remove-circle:before {
  content: "\e088";
}

.glyphicon-ok-circle:before {
  content: "\e089";
}

.glyphicon-ban-circle:before {
  content: "\e090";
}

.glyphicon-arrow-left:before {
  content: "\e091";
}

.glyphicon-arrow-right:before {
  content: "\e092";
}

.glyphicon-arrow-up:before {
  content: "\e093";
}

.glyphicon-arrow-down:before {
  content: "\e094";
}

.glyphicon-share-alt:before {
  content: "\e095";
}

.glyphicon-resize-full:before {
  content: "\e096";
}

.glyphicon-resize-small:before {
  content: "\e097";
}

.glyphicon-exclamation-sign:before {
  content: "\e101";
}

.glyphicon-gift:before {
  content: "\e102";
}

.glyphicon-leaf:before {
  content: "\e103";
}

.glyphicon-fire:before {
  content: "\e104";
}

.glyphicon-eye-open:before {
  content: "\e105";
}

.glyphicon-eye-close:before {
  content: "\e106";
}

.glyphicon-warning-sign:before {
  content: "\e107";
}

.glyphicon-plane:before {
  content: "\e108";
}

.glyphicon-calendar:before {
  content: "\e109";
}

.glyphicon-random:before {
  content: "\e110";
}

.glyphicon-comment:before {
  content: "\e111";
}

.glyphicon-magnet:before {
  content: "\e112";
}

.glyphicon-chevron-up:before {
  content: "\e113";
}

.glyphicon-chevron-down:before {
  content: "\e114";
}

.glyphicon-retweet:before {
  content: "\e115";
}

.glyphicon-shopping-cart:before {
  content: "\e116";
}

.glyphicon-folder-close:before {
  content: "\e117";
}

.glyphicon-folder-open:before {
  content: "\e118";
}

.glyphicon-resize-vertical:before {
  content: "\e119";
}

.glyphicon-resize-horizontal:before {
  content: "\e120";
}

.glyphicon-hdd:before {
  content: "\e121";
}

.glyphicon-bullhorn:before {
  content: "\e122";
}

.glyphicon-bell:before {
  content: "\e123";
}

.glyphicon-certificate:before {
  content: "\e124";
}

.glyphicon-thumbs-up:before {
  content: "\e125";
}

.glyphicon-thumbs-down:before {
  content: "\e126";
}

.glyphicon-hand-right:before {
  content: "\e127";
}

.glyphicon-hand-left:before {
  content: "\e128";
}

.glyphicon-hand-up:before {
  content: "\e129";
}

.glyphicon-hand-down:before {
  content: "\e130";
}

.glyphicon-circle-arrow-right:before {
  content: "\e131";
}

.glyphicon-circle-arrow-left:before {
  content: "\e132";
}

.glyphicon-circle-arrow-up:before {
  content: "\e133";
}

.glyphicon-circle-arrow-down:before {
  content: "\e134";
}

.glyphicon-globe:before {
  content: "\e135";
}

.glyphicon-wrench:before {
  content: "\e136";
}

.glyphicon-tasks:before {
  content: "\e137";
}

.glyphicon-filter:before {
  content: "\e138";
}

.glyphicon-briefcase:before {
  content: "\e139";
}

.glyphicon-fullscreen:before {
  content: "\e140";
}

.glyphicon-dashboard:before {
  content: "\e141";
}

.glyphicon-paperclip:before {
  content: "\e142";
}

.glyphicon-heart-empty:before {
  content: "\e143";
}

.glyphicon-link:before {
  content: "\e144";
}

.glyphicon-phone:before {
  content: "\e145";
}

.glyphicon-pushpin:before {
  content: "\e146";
}

.glyphicon-usd:before {
  content: "\e148";
}

.glyphicon-gbp:before {
  content: "\e149";
}

.glyphicon-sort:before {
  content: "\e150";
}

.glyphicon-sort-by-alphabet:before {
  content: "\e151";
}

.glyphicon-sort-by-alphabet-alt:before {
  content: "\e152";
}

.glyphicon-sort-by-order:before {
  content: "\e153";
}

.glyphicon-sort-by-order-alt:before {
  content: "\e154";
}

.glyphicon-sort-by-attributes:before {
  content: "\e155";
}

.glyphicon-sort-by-attributes-alt:before {
  content: "\e156";
}

.glyphicon-unchecked:before {
  content: "\e157";
}

.glyphicon-expand:before {
  content: "\e158";
}

.glyphicon-collapse-down:before {
  content: "\e159";
}

.glyphicon-collapse-up:before {
  content: "\e160";
}

.glyphicon-log-in:before {
  content: "\e161";
}

.glyphicon-flash:before {
  content: "\e162";
}

.glyphicon-log-out:before {
  content: "\e163";
}

.glyphicon-new-window:before {
  content: "\e164";
}

.glyphicon-record:before {
  content: "\e165";
}

.glyphicon-save:before {
  content: "\e166";
}

.glyphicon-open:before {
  content: "\e167";
}

.glyphicon-saved:before {
  content: "\e168";
}

.glyphicon-import:before {
  content: "\e169";
}

.glyphicon-export:before {
  content: "\e170";
}

.glyphicon-send:before {
  content: "\e171";
}

.glyphicon-floppy-disk:before {
  content: "\e172";
}

.glyphicon-floppy-saved:before {
  content: "\e173";
}

.glyphicon-floppy-remove:before {
  content: "\e174";
}

.glyphicon-floppy-save:before {
  content: "\e175";
}

.glyphicon-floppy-open:before {
  content: "\e176";
}

.glyphicon-credit-card:before {
  content: "\e177";
}

.glyphicon-transfer:before {
  content: "\e178";
}

.glyphicon-cutlery:before {
  content: "\e179";
}

.glyphicon-header:before {
  content: "\e180";
}

.glyphicon-compressed:before {
  content: "\e181";
}

.glyphicon-earphone:before {
  content: "\e182";
}

.glyphicon-phone-alt:before {
  content: "\e183";
}

.glyphicon-tower:before {
  content: "\e184";
}

.glyphicon-stats:before {
  content: "\e185";
}

.glyphicon-sd-video:before {
  content: "\e186";
}

.glyphicon-hd-video:before {
  content: "\e187";
}

.glyphicon-subtitles:before {
  content: "\e188";
}

.glyphicon-sound-stereo:before {
  content: "\e189";
}

.glyphicon-sound-dolby:before {
  content: "\e190";
}

.glyphicon-sound-5-1:before {
  content: "\e191";
}

.glyphicon-sound-6-1:before {
  content: "\e192";
}

.glyphicon-sound-7-1:before {
  content: "\e193";
}

.glyphicon-copyright-mark:before {
  content: "\e194";
}

.glyphicon-registration-mark:before {
  content: "\e195";
}

.glyphicon-cloud-download:before {
  content: "\e197";
}

.glyphicon-cloud-upload:before {
  content: "\e198";
}

.glyphicon-tree-conifer:before {
  content: "\e199";
}

.glyphicon-tree-deciduous:before {
  content: "\e200";
}

/*# sourceMappingURL=admin.css.map */
